[package]
name = "cargo-show-asm"
version = "0.1.23"
edition = "2021"
description = "A cargo subcommand that displays the generated assembly of Rust source code."
categories = ["development-tools::cargo-plugins", "development-tools::debugging" ]
keywords = ["assembly", "plugins", "cargo"]
repository = "https://github.com/pacak/cargo-show-asm"
homepage = "https://github.com/pacak/cargo-show-asm"
authors = [ "Michael Baykov <manpacket@gmail.com>" ]
readme = "README.md"
license = "MIT OR Apache-2.0"

[dependencies]
anyhow = "1"
bpaf = { version = "0.7.0", features = ["bpaf_derive", "autocomplete"] }
cargo = "0.65"
git2 = { version = "0.14.2", optional = true } # same version as used by cargo
line-span = "0.1"
nom = "7"
once_cell = "1"
owo-colors = { version = "3", features = ["supports-colors"] }
regex = "1"
rustc-demangle = "0.1"
supports-color = "1.3"

[target.'cfg(target_family = "unix")'.dependencies]
nix = { version = "0.25", default-features = false, features = ["signal"] }

[features]
vendored-openssl = ["cargo/vendored-openssl"]
vendored-libgit2 = ["git2/vendored-libgit2"]
bright-color = ["bpaf/bright-color"]
dull-color = ["bpaf/dull-color"]

[[bin]]
name = "cargo-asm"
path = "src/main.rs"

[workspace.metadata.cauwugo]
bpaf = true
